            <div style="min-width:250px;" class="relative custom-scroll-item w-full lg:h-full h-auto my-2 rounded-xl overflow-hidden">
                <img loading="lazy" src="/stream?image={{item.picture}}" alt="{{item.content.title}}" class="rounded-lg w-full h-64" />  
                <div class="shadow w-full h-full left-0 top-0 absolute z-10 rounder-lg"></div>
                <div class="w-full absolute  left-0 bottom-8 hover:bottom-10 px-8 z-20">
                    <a href="/{{item.content.prefix}}" class="text-white text-xl font-bold">{{item.content.title}}</a>
                </div>
            </div>