

            <!-- Footer
            ================================================== -->
            <footer class="dark-shade-2-bg position-relative">

                <div class="dots">
                    <div class="the-dots"></div>
                </div>
                
                <div class="container sk__supercontainer position-relative">

                    <span class="divider sk__subtle-divider"></span>

                    <div class="row footer-main text-center text-sm-start">
                        <div class="col-md-12 col-lg-6 footer-main-large-col mb-4 mb-lg-0">
                            <div class="fancy-gradient-text-box">
                                <h3 class="h3-elegant ">Start your journey now.</h3>
                            </div>  
                            <p class="p-v2 mw-440">We are the Median of the business triangle, connecting the three main dimentions ( Customer, Provider and Market ) using the technology solutions.</p>
                            
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-3 footer-main-small-col widget_nav_menu">

                            <div class="row">
                                <div class="col">
                                    <!-- Footer Social Icons Menu -->
                                    <section class="footer-socials-section">
                                        <h5>Follow Us & Stay Informed</h5>
                                        <div class="footer-socials-inner">
                                            <div class="footer-socials">
                                                <a class="social-icons " href="https://www.facebook.com/medianssolutions" target="_blank"><img src="{{app.CONF.url}}website_assets/img/facebook.png" class="" alt="social" /></a>
                                                <a class="social-icons " href="https://www.facebook.com/medianssolutions" target="_blank"><img src="{{app.CONF.url}}website_assets/img/twitter.png" class="" alt="social" /></a>
                                                <a class="social-icons " href="https://www.facebook.com/medianssolutions" target="_blank"><img src="{{app.CONF.url}}website_assets/img/linkedin.png" class="" alt="social" /></a>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-3 footer-main-small-col">
                            <div class="row">
                                <div class="col">
                                    <!-- Widget - Subscribe
                                    ================================================== -->
                                    <div class="widget custom_subscribe_widget">
                                        <div class="sk__widget-inner">

                                            <!-- Preview Only Static Form -->
                                            <h5>Zamalek Studio</h5>
                                            <p class="p-v2 mw-440"><span>140 - 26 July,  </span><span>Zamalek, Cairo. </span><br /><span>+2(0)102 3366-111 </span><br /><span>info@medianssolutions.com</span></p>
                                        </div>
                                    </div>
                                    <!-- /.custom_subscribe_widget -->
                                </div>
                            </div>
                        </div>

                        <ul class="flex ">
                            <li class="mr-2">
                                <a href="/pages/about-us" class="footer-main-links gradient-links">Pricing & Terms</a>
                            </li>
                            <li class="mx-2">
                                <a href="/pages/services" class="footer-main-links gradient-links">Services</a>
                            </li>
                            <li class="mx-2">
                                <a href="/pages/products" class="footer-main-links gradient-links">Products</a>
                            </li>
                        </ul>
                    </div>

                    <span class="divider sk__subtle-divider"></span>

                    <div class="row footer-bottom">
                        <div style="width: 63%;" class="col-12 col-md-4 order-xs-3 order-sm-3 order-md-2 text-center text-sm-start text-md-center">
                            <p class="p-footer-copyright text-left">MEDIANS AGENCY SOLUTIONS Copyright © {{year}} </p>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4 order-sm-2 order-md-3 text-center text-sm-end">
                            <a class="footer-bottom-right-links" href="/pages/about-us" >About</a>
                            <a class="footer-bottom-right-links" href="pages/services" >Services</a>
                            <a class="footer-bottom-right-links" href="#contact-us" >Contact</a>
                        </div>
                    </div>
                </div>

            </footer>


    <div style="z-index:9999" id="modal-wrapper" class="w-full fixed left-0 top-0 h-screen hidden ">
        <div id="modal-bg" style="background:rgba(0, 0, 0, .5);" class="absolute w-full h-full left-0"></div>
        <div id="modal-content"  class="p-10 bg-white rounded-2xl m-auto absolute left-0 right-0 top-0 bottom-0 max-w-2xl my-10" style="z-index:9"></div>
    </div>
    
{% include './views/front/includes/foot.html.twig' %}    