{% include 'views/front/includes/head.html.twig' %}


        <header class="flex w-full relative" style="z-index: 9; ">
            <div class="container py-4 flex w-full">
                <div class="w-full ">
                    <img src="{{app.CONF.url}}uploads/img/white-logo.png" width="100" />
                </div>
                <ul class=" text-white flex mt-4  pt-3  gap-3">
                    <li><a class="text-white" href="/"> HOME</a></li>
                    <li><a class="text-white" href="/services"> SERVICES</a></li>
                    <!-- <li><a class="text-white" href="./portfolio.html"> PORTFOLIO</a></li> -->
                    <li><a class="text-white" href="/products"> PRODUCTS</a></li>
                    <li><a class="text-white" href="/about-us"> ABOUT</a></li>
                </ul>
            </div>
        </header>

        
        <div class="w-full absolute">
           <div class="content">
              <div id="large-header" class="large-header">
                 <canvas id="demo-canvas" class="" style="height: 100vh;"></canvas>
              </div>
           </div>
        </div>