{% include 'views/front/includes/header.html.twig' %}
        <!-- {{item.content.content}} -->

    <div class="w-full cyan-bg pb-6 pt-2 relative ">
        <div class="w-full overflow-hidden h-full absolute bottom-0 left-0">        
            <img loading="lazy"  alt="{{app.settings['sitename']}}" src="/stream?image=/uploads/img/light-network.webp" class="absolute left-0 top-0 w-full" style="opacity: .3;" />
        </div>
        <div class="container mx-auto relative">
            <h1 class="text-2xl mx-auto w-auto text-center font-bold purple-color" >{{item.content.title}}</h1>
        </div>
    </div>



    <div class="blog-content">
        <img loading="lazy" src="/stream?image=/uploads/img/circles-bg.webp" class="absolute left-0 top-10 w-full " style="opacity: .05;" />

        <div class="container mx-auto">
            
            <div class="blog-main-item lg:flex block w-full">
                <div class="blog-item-content lg:w-7/12">
                    <img loading="lazy" src="/stream?image=/uploads/img/about.webp" class="rounded-lg w-full py-10 lg:py-20 px-10 ">
                </div>
                <div class="blog-item-img lg:w-5/12">
                    <div class=" lg:py-20 lg:pr-10 lg:px-20 px-10">
                        <h2 class="py-6 px-2 block font-bold purple-color text-xl lg:text-3xl text-center">مستشفى بداية ستساعدك في تحقيق حلمك وبناء عائلة جديدة.</h2>
                        <p class="text-sm lg:text-lg font-semibold text-gray-600">
                            في الوقت الذي تطورت فيه مجالات الطب واكبت مستشفى بداية هذه التطورات الخاصه بعلاج العقم وتأخر الإنجاب بسرعة فائقه. هناك العديد من المستشفيات في مصر والشرق الأوسط التي تمتلك وحدات لعلاج هذه المشاكل, ولكن الأستاذ الدكتور إسماعيل أبو الفتوح كانت لديه رؤيه مستقبليه لإنشاء مستشفى متخصصة فى علاج العقم والعنايه بالصحه الإنجابيه.
                        </p>
                    </div>
                </div>
            </div>

        </div>

        <div class="container mx-auto relative">
            <img loading="lazy" src="/stream?image=/uploads/img/light-network.webp" class="absolute left-0 top-10 w-full " style="opacity: .08;" />
                
            <div class="cairo mx-auto  py-2 mt-12 purple-color font-semibold text-2xl mx-auto text-center lg:w-6/12">
                بداية هى من أوائل المستشفيات المتخصصه لعلاج حالات العقم وتأخر الحمل في مصر والشرق الأوسط
                <span class="mx-auto my-4 w-20 border border-b-1  border-gray-300 block"></span>
            </div>

            <div class="w-full lg:grid md:grid grid-cols-2 block gap-3 gap px-1">
                <div class="flex gap-2 lg:gap-6 py-6">
                    <img loading="lazy" src="/stream?image=/uploads/img/about-1.webp" class="lg:w-40 lg:h-40 w-20 h-20 rounded-full">
                    <div class="w-full lg:pl-10">
                        <span class="text-lg font-semibold block w-full pb-3 purple-color">أحدث التقنيات</span>
                        <p class="lg:text-lg text-base ">نحن نسعى دائما لمواكبة ما هو جديد في عالم الخصوبه والتلقيح الخارجي وتطوير فريقنا الطبي من خلال إطلاعهم على أحدث التقنيات الطبيه المستخدمة والمحاضرات العالمية</p>
                    </div>
                </div>
                <div class="flex gap-2 lg:gap-6 py-6">
                    <img loading="lazy" src="/stream?image=/uploads/img/about-2.webp" class="lg:w-40 lg:h-40 w-20 h-20 rounded-full">
                    <div class="w-full lg:pl-10">
                        <span class="text-lg font-semibold block w-full pb-3 purple-color">الدعم العاطفي</span>
                        <p class="lg:text-lg text-base">الدعم العاطفي لمرضانا من أهم العوامل التى نحاول التركيز عليها, ففريقنا الطبي والفني والتمريض يعلم جيداً الضغط النفسي والمشاكل الشخصية </p>
                    </div>
                </div>
                <div class="flex gap-2 lg:gap-6 py-6">
                    <img loading="lazy" src="/stream?image=/uploads/img/about-3.webp" class="lg:w-40 lg:h-40 w-20 h-20 rounded-full">
                    <div class="w-full lg:pl-10">
                        <span class="text-lg font-semibold block w-full pb-3 purple-color">نسب النجاح</span>
                        <p class="lg:text-lg text-base">نحن نسعى دائما لمواكبة ما هو جديد في عالم الخصوبه والتلقيح الخارجي وتطوير فريقنا الطبي من خلال إطلاعهم على أحدث التقنيات الطبيه المستخدمة والمحاضرات العالمية</p>
                    </div>
                </div>
                <div class="flex gap-2 lg:gap-6 py-6">
                    <img loading="lazy" src="/stream?image=/uploads/img/about-4.webp" class="lg:w-40 lg:h-40 w-20 h-20 rounded-full">
                    <div class="w-full lg:pl-10">
                        <span class="text-lg font-semibold block w-full pb-3 purple-color">الجودة العالمية</span>
                        <p class="lg:text-lg text-base">نحن نسعى دائما لمواكبة ما هو جديد في عالم الخصوبه والتلقيح الخارجي وتطوير فريقنا الطبي من خلال إطلاعهم على أحدث التقنيات الطبيه المستخدمة والمحاضرات العالمية</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="relative py-20 my-10 cyan-gradient45 w-full overflow-hidden " style="z-index: 9999;">
        <img loading="lazy" src="/stream?image=/uploads/img/light-network.webp" class="absolute left-0 top-0 w-full" style="opacity: .5;" />
        <div class="container  mx-auto relative z-10 ">

            <div class="mx-2 lg:w-full rounded-2xl lg:flex lg:p-20 py-20 px-6 bg-white relative">
                <img loading="lazy" src="/stream?image=/uploads/img/circles-bg.webp" class="absolute left-0 top-0 w-full" style="opacity: .05;" />
                <div class="lg:w-9/12 lg:px-10 relative z-10">
                    <span class="text-xl font-semibold block w-full pb-3 purple-color">الأستاذ الدكتور إسماعيل أبو الفتوح</span>
                    <span class="text-sm block w-full pb-3 purple-color">رئيس مجلس إدارة مستشفى بداية</span>
                    <p class="lg:text-lg text-base">
                        كنت أطمح لتوفير خدمات متاحه للجميع وعلى أعلى مستوى داخل مصر وتكوين مستشفى تشمل كافة علاجات العقم وتأخر الحمل وحلول لأمراض النساء والذكوره .كثيراً ما يخجل من مشاكل الخصوبه وما شبه ولكن كان حلمنا بأن نؤسس مستشفى بإمكانيات طبيه ومعامل متخصصه قادره على تحقيق حلم الأزواج في إنجاب أطفال وإنشاء عائلة. رؤيتنا المستقبليه لمشفانا هى أن نواصل تقدمنا وتحقيق نسب نجاح أعلى في عمليات الإخصاب المساعد وتوفير بيئة مليئه بالدعم المعنوي والخصوصية الكاملة لمن يسعى لحل مشكلتة الإنجابيه. بالرغم من وصولنا لمعدلات النجاح العالميه إلى أننا نواصل لتقديم الأفضل والأجود
.وبعد ان زاد عدد المرضى بالمقر القديم لبداية في مستشفى مصر الدولي قمنا بإنشاء أكبر مستشفى متخصص في علاج العقم واطفال الأنابيب في الشرق الأوسط ليضم جميع الخدمات المساعدة لعمليات الإخصاب المساعد والمناظير وعمليات الذكورة في مكان واحد.
                    </p>
                </div>
                <div class="lg:w-3/12 w-6/12 lg:mt-0 mt-4 text-center mx-auto">
                    <img loading="lazy" src="/stream?image=/uploads/img/dr.webp" >
                </div>
            </div>

        </div>

    </div>


    <div class="w-full py-4 relative" style="direction:ltr">
        <img loading="lazy" src="/stream?image=/uploads/img/light-network.webp" class="absolute left-0 top-0 w-full" style="opacity: .1;" />
        <div class="lg:flex w-full px-2 relative z-10">
            <div class="lg:w-2/12 py-2 px-6" style="min-width: 300px;">
                <span class="cairo block py-2  w-full text-xl font-semibold">اكتشف مستشفي بداية </span>
                <p class="py-4 lg:text-lg">تتضمن مستشفي بداية أقسام عديده ضمن مساحة 4500 متر والتي تعتبر من أكبر المستشفيات التخصصية في علاجات الصحة الإنجابيه</p>
            </div>
            <div class="lg:w-10/12" >
                <div class="custom-scroll-container custom-scroll lg-custom-scroll-container lg-custom-scroll px-4" >
                    <div  class=" w-full inline-block">
                        <div  class="owl-carousel  w-full ">
                            <div class="px-2 ">
                                <img loading="lazy" src="/stream?image=/uploads/img/about-slide-1.webp">
                            </div>
                            <div class="px-2 ">
                                <img loading="lazy" src="/stream?image=/uploads/img/about-slide-2.webp">
                            </div>
                            <div class="px-2 ">
                                <img loading="lazy" src="/stream?image=/uploads/img/about-slide-3.webp">
                            </div>
                            <div class="px-2 ">
                                <img loading="lazy" src="/stream?image=/uploads/img/about-slide-1.webp">
                            </div>
                            <div class="px-2 ">
                                <img loading="lazy" src="/stream?image=/uploads/img/about-slide-3.webp">
                            </div>
                            <div class="px-2 ">
                                <img loading="lazy" src="/stream?image=/uploads/img/about-slide-2.webp">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% include 'views/front/includes/footer.html.twig' %}