{% include 'views/front/includes/header.html.twig' %}

    <div class="relative my-10 text-lg">
        {% set params = {'item': item} %}
        {{app.renderTemplate(item.content.content, item).render(params)|raw}}
    </div>

{% include 'views/front/includes/footer.html.twig' %}