{% include 'views/front/includes/header.html.twig' %}
<!-- {% include 'views/front/includes/navbar.html.twig' %} -->

    <div id="console" class='centerBox'>
        <p id="consoleText" ></p>
    </div>

<div class="w-full relative">



    <div class="absolute text-center left-0 right-0 mx-auto pt-6" style="z-index: 9999;">
        <h2 class="text-4xl mt-20">Albanian school Quizzes App</h2>
        <img src="//192.168.1.99:81/uploads/assets/app1.png">
        <div class="h-64 mt-20" ></div>
        <h2 class="text-4xl mt-20">Bedaya Hospitals website</h2>
        <img src="//192.168.1.99:81/uploads/assets/web1.png">
        <div class="h-64 mt-20" ></div>
        <h2 class="text-4xl ">Albanian school Quizzes App</h2>
        <img src="//192.168.1.99:81/uploads/assets/app2.png">
        <h2 class="text-4xl ">PS Gaming booking management system</h2>
        <img src="//192.168.1.99:81/uploads/assets/web2.png">
        <h2 class="text-4xl ">PS Gaming management Mobile APP</h2>
        <img src="//192.168.1.99:81/uploads/assets/app1.png">
        <h2 class="text-4xl">Bedaya Hospitals website</h2>
        <img src="//192.168.1.99:81/uploads/assets/web1.png">
        <h2 class="text-4xl ">Albanian school Quizzes App</h2>
        <img src="//192.168.1.99:81/uploads/assets/app1.png">
    </div>
    <div id="divTimeLineContainer" class=''>
        <div id="divLeftEventContainer" class='eventContainer'>
        </div>
        <div id="divTimeLine" class='timeLine'>
        </div>
        <div id="divRightEventContainer" class='eventContainer'>
        </div>
        <div id="divCenterEventContainer">
        </div>
    </div>
    
    <div class="mx-auto ">
        {{app.renderTemplate(item.content.content, item).render( {'item':item, 'app':app, 'lang':lang,'blog': blog} )|raw}}
    </div>

</div>

{% include 'views/front/includes/footer.html.twig' %}