{% include 'views/front/includes/header.html.twig' %}
<!-- {% include 'views/front/includes/navbar.html.twig' %} -->

    <div id="console" class='centerBox'>
        <p id="consoleText" ></p>
    </div>

<div class="w-full relative">

    
    <div class="mx-auto ">
        {{app.renderTemplate(item.content.content, item).render( {'item':item, 'app':app, 'lang':lang,'blog': blog} )|raw}}
    </div>

</div>

{% include 'views/front/includes/footer.html.twig' %}