<div class="custom-scroll-container custom-scroll lg-custom-scroll-container lg-custom-scroll px-4" >
                    <div  class=" w-full inline-block">
                        <div  class="owl-carousel  w-full ">
                            <div class="px-2 ">
                                <img loading="lazy" src="/stream?image=/uploads/img/about-slide-1.webp">
                            </div>
                            <div class="px-2 ">
                                <img loading="lazy" src="/stream?image=/uploads/img/about-slide-2.webp">
                            </div>
                            <div class="px-2 ">
                                <img loading="lazy" src="/stream?image=/uploads/img/about-slide-3.webp">
                            </div>
                            <div class="px-2 ">
                                <img loading="lazy" src="/stream?image=/uploads/img/about-slide-1.webp">
                            </div>
                            <div class="px-2 ">
                                <img loading="lazy" src="/stream?image=/uploads/img/about-slide-3.webp">
                            </div>
                            <div class="px-2 ">
                                <img loading="lazy" src="/stream?image=/uploads/img/about-slide-2.webp">
                            </div>
                        </div>
                    </div>
                </div>