{% include 'views/front/includes/header.html.twig' %}
{% include 'views/front/includes/navbar.html.twig' %}

    <div class="w-full cyan-bg py-10 relative mb-10">
        <div class="w-full overflow-hidden h-full absolute bottom-0 left-0">        
            <img loading="lazy" src="./img/light-network.png" class="absolute left-0 top-0 w-full" style="opacity: .3;" />
        </div>
        <div class="container mx-auto relative">
            <h1 class="text-2xl pb-10  mx-auto w-72 text-center font-bold purple-color" >خدمة أطفال الأنابيب</h1>
            <div class="mx-auto w-8/12 relative z-10 mb-8">
                <form class="absolute top-0  left-0 right-0 mx-auto bg-white px-6 pt-2 pb-6 border-1 border border-gray-100 rounded-lg " >
                    <p class="py-4 text-base font-semibold purple-color">حجز خدمة</p>
                    <div class="flex w-full gap-3 gap">
                        <select class="border-1 runded border border-1 border-gray-200 w-full text-sm rounded-2xl bg-white px-4 py-2" placeholder="اختيار الفرع">
                            <option > -- الطبيب</option>
                            <option value="1">امراض النساء </option>
                        </select>
                        <select class="border-1 runded border border-1 border-gray-200 w-full text-sm rounded-2xl bg-white px-4 py-2" placeholder="اختيار الفرع">
                            <option > -- الفرع</option>
                            <option value="1">فرع الدقي </option>
                        </select>
                        <a href="#!" class="rounded-lg pt-2 px-4 text-sm purple-bg text-white">استمرار</a>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <div class="blog-content container mx-auto">

        <div class="cairo pt-20 pb-10 purple-color font-semibold text-2xl  w-72">
            أطفال الانابيب
            <span class=" my-4 w-20 border border-b-1  border-gray-300 block"></span>
        </div>

        <div class="w-72 grid grid-cols-2">
            
            <div class="w-full flex ">
                <img loading="lazy" src="./img/">
            </div>

            <div class="w-full flex">
            </div>
             
        </div>
    </div>
    

    <div class="relative py-10  w-full  cyan-gradient45 overflow-hidden ">
        <img loading="lazy" src="./img/light-network.png" class="absolute left-0 top-0 w-full" style="opacity: .4;" />
        <div class="container  mx-auto relative z-10  px-2">
            <div class="lg:w-5/12 lg:float-right relative  lg:top-20 ">
                <h3 class=" text-xl lg:text-3xl font-semibold text-white">الاستشارات الطبية الاونلاين. محادثات فعاله مع أطبائنا اينما كنت</h3>
                <p class=" py-6 purple-color lg:text-lg text-sm font-semibold">
                    اذا كنت غير قادر على الخروج من المنزل أو كنت تقطن في بلد أجنبيه فلا داعي للقلق. نحن الان نوفر خدمة الاستشارات الطبيه الاإلكترونية عن طريق الإنترنت التي من خلالها يمكنك التحدث مع أحد الأطباء المتخصصين ومناقشة جميع التفاصيل والحصول على الإستشارة الطبية الاونلاين المناسبة. 
                <a href="#!" class="mt-2 font-normal block mx-auto w-32 py-2 px-6 purple-bg text-white text-center text-sm rounded-lg">احجز موعدا</a>
                </p>
            </div>
            <div class="lg:w-7/12 lg:inline-block hidden">
                <img loading="lazy" src="./img/doctor.png" style="max-width:none;" class="float-left" width="140%" />
            </div>
        </div>
        <div class="crossed lg:block hidden">
        </div>
    </div>



    <div class="relative pb-20  w-full overflow-hidden px-1">
        <img loading="lazy" src="./img/circles-bg.png" class="absolute left-0 top-0 w-full" style="opacity: 0.05;" />

        <div class="container mx-auto relative z-10">
        
            <h4 class="title-gradient rounded-lg py-2 mt-12 my-2 pl-40 pr-6 purple-color font-semibold text-xl " style="width: max-content;">
                موضوعات قد تهمك
            </h4>
            
            <div class="flex gap-3 gap row">
                
                <div class="blog-main-item lg:flex block w-full">
                    <div class="blog-item-img lg:w-5/12">
                        <img loading="lazy" src="./img/main-blog.png" class="rounded-lg w-full py-4 lg:py-6">
                    </div>
                    <div class="blog-item-content lg:w-7/12">
                        <div class="py-2 lg:py-6 lg:pr-6 lg:px-10 px-2">
                            <a href="#!" class="block  font-semibold text-sm cyan-color">2022/10/14</a>
                            <a href="#!" class="lg:py-4 py-2 block font-bold purple-color lg:text-xl md:text-lg text-base">نصائح عن تجنب مخاطر اشعاعات الأجهزة على الحوامل</a>
                            <p class=" font-semibold text-gray-600 lg:text-base text-sm">نقدر في مستشفي بداية قيمة سعي الزوجين لإنجاب طفل ونعي تماما بالضغط النفسي التي تسببه مشكلة تأخر الحمل أو العقم</p>
                        </div>
                    </div>
                </div>

                <div class="blog-main-item lg:flex block w-full">
                    <div class="blog-item-img lg:w-5/12">
                        <img loading="lazy" src="./img/main-blog.png" class="rounded-lg w-full py-4 lg:py-6">
                    </div>
                    <div class="blog-item-content lg:w-7/12">
                        <div class="py-2 lg:py-6 lg:pr-6 lg:px-10 px-2">
                            <a href="#!" class="block  font-semibold text-sm cyan-color">2022/10/14</a>
                            <a href="#!" class="lg:py-4 py-2 block font-bold purple-color lg:text-xl md:text-lg text-base">نصائح عن تجنب مخاطر اشعاعات الأجهزة على الحوامل</a>
                            <p class=" font-semibold text-gray-600 lg:text-base text-sm">نقدر في مستشفي بداية قيمة سعي الزوجين لإنجاب طفل ونعي تماما بالضغط النفسي التي تسببه مشكلة تأخر الحمل أو العقم</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


{% include 'views/front/includes/footer.html.twig' %}
