.editor-hidden
{
    display: none;
}
.jSignature
{
    min-height: 150px;
}

body .modal-dialog
{
    max-width: 800px;
}
li a.playlist__track__time
{
    line-height: 50px;
}
#paypal-button-container.dimmed {
    pointer-events: none;
}
.song_right_part
{
    text-align: left;
}
.ss_related.feed_sidebar_song
{
    width: 100%;
}

.bars.playing {
  position: relative;
  top: 50%;
  left: 50%;
  width: auto;
  transform: translateX(-50%) translateY(-50%);
}
.bars.playing:after {
  content: "Now Playing.";
  display: block;
  width: 100%;
  margin-top: 10px;
}
.now.playing {
    min-width: 130px;
    min-height: 30px;
    position: relative;
    top: 30px;
}
.now.playing .bar {
  display: inline-block;
  position: relative;
  margin-right: 1px;
  width: 10px;
  height: 1px;
  overflow: hidden;
  background: linear-gradient(to bottom, #ff9500, #ff5e3a);
  color: transparent;
  animation-name: pulse;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
.paused.playing .bar {
  animation-iteration-count: 1;
}
.paused.playing:after {
  content: "Paused (Lame)"
}
.bar.n1 {
  animation-delay: 0.5s;
}
.bar.n2 {
  animation-delay: 0.2s;
}
.bar.n3 {
  animation-delay: 1.2s;
}
.bar.n4 {
  animation-delay: 0.9s;
}
.bar.n5 {
  animation-delay: 2.3s;
}
.bar.n6 {
  animation-delay: 1.3s;
}
.bar.n7 {
  animation-delay: 3.1s;
}
.bar.n8 {
  animation-delay: 1.9s;
}
@keyframes pulse {
  0% {
    height: 1px;
    margin-top: 0;
  }
  10% {
    height: 40px;
    margin-top: -40px;
  }
  50% {
    height: 20px;
    margin-top: -20px;
  }
  60% {
    height: 30px;
    margin-top: -30px;
  }
  80% {
    height: 60px;
    margin-top: -60px;
  }
  100% {
    height: 1px;
    margin-top: 0;
  }
}

.app2 button {
  border: none;
  background: none;
  cursor: pointer;
}








.app2 .searchItems {
    border-color: rgba(0,0,0,.1);
    padding: 4px;
    border-radius: 10px;
    margin: 10px 0 0px 0;
}
.app2 .top-left-player {
    padding-top: 10px;
    text-align: left;
}
.app2 .label_layer {
    padding: 4px;
    display: inline-block;
    margin-top: 6px;
    background: rgba(0,0,0,.1)
}
.app2 {
    color: #3f3d34;
    box-shadow: 0 0 2rem rgba(63, 61, 52, 0.1);
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 75em;
    width: 100%;
    border-radius: 20px;
    padding: 0 10px;
}

.app2 .playlist__list {
    max-height: 350px;
    overflow-y: auto;
    overflow-x: hidden;
}

@media (min-width: 42em) {
    .app {
        margin: 1rem auto;
    }
}

@media (min-width: 75em) {
    .app {
        margin: 2rem auto;
    }
}


.slider {
    line-height: 1em;
    overflow: hidden;
    padding: 6px 0;
}

.slider [type=range] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #f2f2f2;
    height: 8px;
    position: relative;
    width: 100%;
}

.slider [type=range]:focus {
    outline: none;
}

.slider [type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background-color: #3f3d34;
    border-radius: 99px;
    cursor: pointer;
    height: 20px;
    position: relative;
    -webkit-transition: -webkit-transform .2s;
    transition: -webkit-transform .2s;
    transition: transform .2s;
    transition: transform .2s, -webkit-transform .2s;
    width: 6px;
}

.slider [type=range]::-webkit-slider-thumb:focus,
.slider [type=range]::-webkit-slider-thumb:active {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

.slider [type=range]::-webkit-slider-thumb:after {
    background: #f9774e;
    bottom: 0;
    content: '';
    display: block;
    height: 8px;
    margin-top: -4px;
    pointer-events: none;
    position: absolute;
    right: 6px;
    top: 50%;
    width: 999px;
}

.slider--volume [type=range]::-webkit-slider-thumb {
    background-color: #fff;
    border: 3px solid #f9774e;
    width: 20px;
}

.slider--volume [type=range]::-webkit-slider-thumb:after {
    right: 14px;
}

.icon {
    fill: currentcolor;
    height: 35px;
    width: 20px;
}

.icon--inline {
    display: inline-block;
    height: 1em;
    width: 1em;
}

.control {
    cursor: pointer;
    margin: 0;
    padding: .7rem 1px;
    -webkit-transition: opacity .4s, color .4s;
    transition: opacity .4s, color .4s;
}

.control:hover,
.control:focus {
    opacity: .8;
}

.control:active {
    color: #f9774e;
    -webkit-transition: none;
    transition: none;
}

.control--small {
    -webkit-transform: scale(0.4);
    transform: scale(0.4);
}

.control--dimmed {
    opacity: .6;
}

.control--outlined {
    /*border: 2px solid #f2f2f2;*/
    border-radius: 100%;
    padding: .7rem 35px;
}

.control--active {
    color: #f9774e;
}

.main-player {
    background: #fff;
    text-align: center;
    width: 100%;
}

@media (min-width: 33em) {
    .player {
        /*width: 44%;*/
    }
}

.player__title {
    font-size: 27.3px;
    font-size: 1.95rem;
    line-height: 1em;
    margin: 0 0 13.65px;
    margin: 0 0 0.975rem;
}

.player__sub-title {
    font-size: 21px;
    font-size: 1.5rem;
    line-height: 1em;
    margin: 0 0 10.5px;
    margin: 0 0 0.75rem;
    color: #7f7c6b;
    font-weight: 400;
}

.player__cover {
    display: inline-block;
}

.player__timer {
    /*background: #ddd8c8;*/
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 1rem 0;
}

.player__progress-bar {
    margin-top: -.3rem;
    padding: 6px 10px;
    width: 100%;
}

.player__controls {
    display: -webkit-box;
    display: flex;
    list-style: none;
    /*padding: 1rem 2rem;*/
}

.player__volume {
    display: -webkit-box;
    display: flex;
    padding: .7rem 0;
}

.player__volume__icon {
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
}

.player__volume__slider {
    width: 100%;
}

.playlist {
    background: rgba(0, 0, 0, .05);
    color: #f2f2f2;
    width: 100%;
}

@media (min-width: 33em) {
    .playlist {
        /*width: 56%;*/
    }
}

.playlist__header {
    background: #3f3d34;
    padding: 3rem;
}

.playlist__title {
    font-size: 27.3px;
    font-size: 1.95rem;
    line-height: 1em;
    margin: 0 0 13.65px;
    margin: 0 0 0.975rem;
    margin-top: 0;
}

.playlist__list {
    list-style: none;
    margin: 0;
    padding: 1rem;
}

.playlist__track {
    /*border-bottom: 1px solid #3f3d34;*/
    cursor: pointer;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin: 0;
    /*padding: 2rem 0;*/
    color: #111;
}

.playlist__track--active {
    color: #f9774e;
}

.playlist__track__cover {
    height: 3rem;
    width: 3rem;
}

.playlist__track__info {
    margin: 0 2rem;
    width: 100%;
}

.playlist__track__title {
    font-size: 21px;
    font-size: 1rem;
    line-height: 1em;
    margin: 15px 0 0.1rem;
}

.hide.hide {
    display: none;
}

*:hover>.hover_elements,
*:hover>.gallery_hover {
    z-index: 1;
    opacity: 1;
    transition: z-index 0.5s step-start, opacity 0.5s linear !important;
}

*>.hover_elements,
*>.gallery_hover {
    z-index: -1;
    opacity: 0;
    transition: z-index 0.5s step-end, opacity 0.5s linear !important;
}





body #website
{
    background: #fff;
}
body .modal.active
{
    opacity: 1;
}
body #contentArea .modal.active  h3
{
    color: #ddd;
}
body #contentArea .modal.active a
{
    color: #888;
}
body .modal.active form
{
    color: #eee;
}