
<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="utf-8">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Bedaya Login page | Medians System</title>
    <meta name="description" content="Medians PS is a solution that manage cyber cafes, gaming & playstation lounges branches witn inventory management and booking system.">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="canonical" href="https://gaming.medianssolutions.com/login">
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://gaming.medianssolutions.com/login">
    <meta property="og:title" content="">
    <meta property="og:image" content="https://bedaya.medianssolutions.com/route/image.php?src=1253926083_1828277228_581308477.jpg&img=pic&w=800">
    <meta property="og:description" content="Medians PS is a solution that manage cyber cafes, gaming & playstation lounges branches witn inventory management and booking system">
    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:title" content="">
    <!-- <meta property="twitter:image" content=""> -->
    <meta property="twitter:description" content="Medians PS is a solution that manage cyber cafes, gaming & playstation lounges branches witn inventory management and booking system">

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/uploads/images/favicon.webp">
    <link rel="icon" type="image.webp" sizes="32x32" href="/uploads/images/favicon.webp">
    <link rel="icon" type="image.webp" sizes="16x16" href="/uploads/images/favicon.webp">

    <!-- CSS -->
   <link rel="stylesheet" href="https://ps.medianssolutions.com/src/front_assets/css/main.css">
    

    <!-- JS -->
    <script type="text/javascript">
    var rootURL = 'https://bedaya.medianssolutions.com/';
    var imageURL = 'https://bedaya.medianssolutions.com/route/image.php?';
    </script>
    
    <!-- JS -->
    <script src="https://ps.medianssolutions.com/src/assets/analytics.js"></script>
    <!-- <script src="./assets/modernizr-custom.js"></script> -->

        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-NCF6FWPCBS"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-NCF6FWPCBS');
    </script>
</head>
<body class="p-0 m-0 ">
<section class="sigin__page bg__white">
   <div class="container">
      <div class="signin__wrapper">
         <div class="row justify-content-between align-items-center">
            <div class="col-lg-6">
               <div class="signin__content__left">
                  <div class="signin__head">
                     <h3>
                        Lets Get Started!
                     </h3>
                     <p class="accout" >

                        <a href="https://accounts.google.com/o/oauth2/v2/auth?response_type=code&amp;access_type=online&amp;client_id=815917645468-3nf8l8fo7vl9fc8tufdq23pv0b3s7i10.apps.googleusercontent.com&amp;redirect_uri=https%3A%2F%2Fgaming.medianssolutions.com%2Fgoogle_login_redirect&amp;state&amp;scope=email%20profile&amp;approval_prompt=auto" class="google-login-btn">
                           <svg xmlns="http://www.w3.org/2000/svg" class="inline w-4 h-4 mr-3 text-gray-900 fill-current" viewBox="0 0 48 48" width="28px" height="28px"><path fill="#fbc02d" d="M43.611,20.083H42V20H24v8h11.303c-1.649,4.657-6.08,8-11.303,8c-6.627,0-12-5.373-12-12 s5.373-12,12-12c3.059,0,5.842,1.154,7.961,3.039l5.657-5.657C34.046,6.053,29.268,4,24,4C12.955,4,4,12.955,4,24s8.955,20,20,20 s20-8.955,20-20C44,22.659,43.862,21.35,43.611,20.083z"></path><path fill="#e53935" d="M6.306,14.691l6.571,4.819C14.655,15.108,18.961,12,24,12c3.059,0,5.842,1.154,7.961,3.039 l5.657-5.657C34.046,6.053,29.268,4,24,4C16.318,4,9.656,8.337,6.306,14.691z"></path><path fill="#4caf50" d="M24,44c5.166,0,9.86-1.977,13.409-5.192l-6.19-5.238C29.211,35.091,26.715,36,24,36 c-5.202,0-9.619-3.317-11.283-7.946l-6.522,5.025C9.505,39.556,16.227,44,24,44z"></path><path fill="#1565c0" d="M43.611,20.083L43.595,20L42,20H24v8h11.303c-0.792,2.237-2.231,4.166-4.087,5.571 c0.001-0.001,0.002-0.001,0.003-0.002l6.19,5.238C36.971,39.205,44,34,44,24C44,22.659,43.862,21.35,43.611,20.083z"></path></svg>
                           <span>Login with Google</span>
                        </a>
                     </p>
                  </div>
                  <form action="/login" method="POST" id="login-form">
                     <div class="row g-4">
                        <div class="col-lg-12">
                           <div class="form__grp">
                              <label for="emailid">Email</label>
                              <input name="params[email]"  type="email" id="emailid" placeholder="Enter Your Email..." required>
                           </div>
                        </div>
                        <div class="col-lg-12">
                           <div class="form__grp">
                              <label for="paswords">Password</label>
                              <input name="params[password]" minlength="5" type="password" id="paswords" placeholder="Enter Your Password..." required>
                           </div>
                        </div>
                     </div>
                     <p style="padding-top: 15px;">
                        <button type="submit" class="cmn--btn">
                           <span>
                              Login
                           </span>
                        </button>
                        <a href="/" class="danger" style="padding: 10px; ">
                           <span>Back home</span>
                        </a>
                     </p>

                  </form>
               </div>
            </div>
            <div class="col-lg-5">
               <div class="signin__thumb">
                  <img src="https://ps.medianssolutions.com/src/front_assets/img/wepik-export-20230526231330BFpe.webp" alt="signin">
               </div>
            </div>
         </div>
      </div>
   </div>
</section>

   


   <!--Jquery 3 6 0 Min Js-->
   <script src="https://ps.medianssolutions.com/src/front_assets/js/jquery-3.6.0.min.js"></script>
   <!--Bootstrap bundle Js-->
   <script src="https://ps.medianssolutions.com/src/front_assets/js/bootstrap.bundle.min.js"></script>
   <!--Viewport Jquery Js-->
   <script src="https://ps.medianssolutions.com/src/front_assets/js/viewport.jquery.js"></script>
   <!--Odometer min Js-->
   <script src="https://ps.medianssolutions.com/src/front_assets/js/odometer.min.js"></script>
   <!--Magnifiw Popup Js-->
   <script src="https://ps.medianssolutions.com/src/front_assets/js/jquery.magnific-popup.min.js"></script>
   <!--Wow min Js-->
   <script src="https://ps.medianssolutions.com/src/front_assets/js/wow.min.js"></script>
   <!--Owl carousel min Js-->
   <script src="https://ps.medianssolutions.com/src/front_assets/js/owl.carousel.min.js"></script>
   <!--Prijm Js-->
   <script src="https://ps.medianssolutions.com/src/front_assets/js/prism.js"></script>
   
   <!--Sweetalert2 Js-->
   <script src="https://ps.medianssolutions.com/src/front_assets/js/sweetalert2@11.js"></script>

   <!--main Js-->
   <script src="https://ps.medianssolutions.com/src/front_assets/js/main.js"></script>


</body>

</html>