{% include 'views/front/includes/header.html.twig' %}

        <div id="smooth-wrapper" class="pushable-content">
            <div id="smooth-content">
                {% for service in services %}


                {% endfor %}
            </div>
        </div>

{% include 'views/front/includes/footer.html.twig' %}