{% include 'views/includes/header.html.twig' %}


<meta name="google-signin-client_id" content="860172983359-l76kt9v0ds0sahf15q6cv31qu4pj8g5q.apps.googleusercontent.com">
<script src="https://apis.google.com/js/platform.js" async defer></script>

<main id="login-page" class="   flex-1   w-full">
    <div class="relative w-full pb-8">
        <div class="relative lg:px-4 xl:px-0 mx-auto md:flex items-center gap-8">
            <div class="login-content container h-screen lg:flex justify-center items-center">
                
                <div class="p-2 lg:p-8 bg-white dark:bg-gray-700 rounded-lg  flex-auto">

                    <div class="lg:p-8 p-2 bg-white dark:bg-gray-700 rounded-lg max-w-6xl ">
                        <form action="{{formAction}}" method="POST" data-refresh="1" id="signup-form" class="action p-8 py-0 m-auto rounded-lg max-w-xl pb-10">
                            <h1 class="m-auto max-w-xl text-center">{{title}}</h1>
                            <input id="redirect"  type="hidden" value="account" > 
                            <input name="params[type]"  type="hidden" value="userLogin" > 
                            <input name="params[email]" type="text" class="h-12 mt-3 rounded w-full border px-3 text-gray-700 focus:text-white focus:border-blue-100 dark:bg-gray-800  dark:border-gray-600" placeholder="Email"> 
                            <input name="params[password]" type="password" class="h-12 mt-3 rounded w-full border px-3 text-gray-400 focus:text-white focus:border-blue-100 dark:bg-gray-800 dark:border-gray-600" placeholder="Password">
                            <button class="uppercase h-12 mt-3 text-white w-full rounded bg-red-700 hover:bg-red-800">Login</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<form id="loginSubmitForm" class="action hide ">
    <input type="hidden" id="redirect" value="account/setting" >
    <input type="hidden" name="params[type]" value="account" >
</form>


<script type="text/javascript">

setTimeout(function(){
    jQuery('#loginSubmitForm').submit();
}, 1000);

</script>

{% include 'views/includes/footer.html.twig' %}
