<div class="text-center mx-auto" style="text-align: center; max-width: 800px; margin: 0 auto;">
	<img class="mx-auto" src="/assets/img/no-data.png" />
	<!-- <p class="text-center text-lg">{{lang.__('No data available')}}</p> -->
</div>