{% include 'views/front/includes/header.html.twig' %}
            
            <div class="barner-area white">
                <div class="area-bg"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                            <div class="barner-text mt50">
                                <h1>{{title}}</h1>
                                <ul class="breadcrumb no-bg mb0">
                                    <li><a href="{{app.CONF.url}}">Home</a></li>
                                    <li style="padding:0 5px"><a href="#!"> / </a></li>
                                    <li class="active"><a href="#">{{title}}</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <meta name="google-signin-client_id" content="860172983359-l76kt9v0ds0sahf15q6cv31qu4pj8g5q.apps.googleusercontent.com">
            <script src="https://apis.google.com/js/platform.js" async defer></script>
            <main id="medians-signup" class="   flex-1   w-full">
                <section class="py-4">
                    <div class="container">
                        <div class="row d-flex align-items-center justify-content-center">
                            <div style="max-width:420px;">
                                <form action="#" class="bg-white border py-4 px-5"  v-on:submit="submitForm">
                                    <div class="text-center mb-3">
                                        <i class="fab fa-bootstrap fa-5x text-secondary mb-2"></i>
                                        <p class="text-muted fw-bold">
                                            Sign up to access your portal.
                                        </p>
                                    </div>
                                    <div class="mb-3">
                                        <a class="btn btn-primary d-block bg-gradient" href="#"><i class="fab fa-facebook"></i> Sign up with facebook</a>
                                        <p class="my-3 text-center or">
                                            OR
                                        </p>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input type="email" class="form-control" v-model="email" name="email" placeholder="Email address" required="" /><label>Email address</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input class="form-control" v-model="fullname" name="fullname" placeholder="Full Name" required="" type="text" /><label>Full Name</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input class="form-control" v-model="providerTitle" name="providerTitle" placeholder="Business name " required="" type="text" /><label>Business name </label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input type="password" class="form-control"  v-model="password" name="password" placeholder="Password" required="" /><label>Password</label>
                                    </div>
                                    <div class="mb-2">
                                        <div class="form-group mb0">
                                            <button style="margin: 0 auto; display: block ;" class="read-more active" type="submit">Signup</button>
                                        </div>
                                    </div>
                                    <div class="small text-center">
                                        By signing up, you agree to our Terms , Data Policy and Cookies Policy.
                                    </div>
                                </form>
                                <div class="bg-white py-4 px-5 text-center border mt-4">
                                    <p class="m-0">
                                        Have an account? <a href="{{app.CONF.url}}provider_area/login">Log In</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </main>


<script>
    
    var app = new Vue({
    el: '#medians-signup',
    data: {
          fullname: '',
          providerTitle: '',
          email: '',
          password: '',
          items: [],
          params: {},
    },
    created() { 

    },
    methods: 
    {

        async submitForm(e) 
        {
            e.preventDefault();

            this.params = new URLSearchParams([]);

            this.params.append('type','providerSignup');
            this.params.append('params[fullname]', this.fullname);
            this.params.append('params[email]', this.email);
            this.params.append('params[provider][title]', this.providerTitle);
            this.params.append('params[password]', this.password);
            
            await axios.post(rootURL, this.params.toString() ).then(response => 
            {
                handleResponse(response.data);
            });

        },
        fetchCustomers() 
        {
            axios.post(rootURL+'FrontendAPI&_type_params[type]=Customers').then(response => 
            {
                this.customers = response.data.result;
            });
        }
    }
    
});

</script>
{% include 'views/front/includes/footer.html.twig' %}